$env:LIBTORCH = "C:\Users\user\libtorch"
$env:Path = "C:\Users\user\libtorch\lib;" + $env:Path
$env:TORCH_CUDA_DLL = "C:\Users\user\libtorch\lib\torch_cuda.dll"
$env:LIBTORCH_BYPASS_VERSION_CHECK = "1"
$env:OMP_NUM_THREADS="1" # avoid (exit code: 0xc0000005, STATUS_ACCESS_VIOLATION)